@page
@model RapGame.Pages.Frame26Model
@inject RapGame.Utils.MediaHelper mediaHelper
@{
     ViewData["Title"] = Model.MediaData.Title;
     ViewBag.ShowMicsCounter = true;
}
<div class="container-fluid text-center h-100 mt-3">
    <div class="row animate__animated animate__zoomIn animate__slower">
        <div class=" display-1 z-110">
            <b style="color:blue">Rhyme Scheme</b>
        </div>
    </div>
    <div class="row pt-4 h-100 align-items-center animate__animated animate__fadeInUp animate__slower animate__delay-3s">
        <div class=" col-xl-8 ps-5">
            <div class= "display-2 z-110 text-start ps-5 d-flex align-items-center">
                <b>
                    A rhyme scheme is a pattern that is
                    <br>
                    followed throughout a rap. The
                    <br>
                    rhyming words at the end of each line
                    <br>
                    in a rap are what creates the rhyme 
                    <br>
                    scheme.
                </b>
            </div>
        </div>
        <div class=" col-xl-4">
            <img class="rounded mx-auto d-block" src="@mediaHelper.GetMediaPath(Model.MediaData.PathsToImages[0])" />
        </div>
    </div>
</div>