@page
@model FrameFaildLicence
@inject RapGame.Utils.MediaHelper mediaHelper
@{
    ViewData["Title"] = Model.MediaData.Title;
    ViewBag.ShowLogoutButtom = false;
    ViewBag.ShowButtom = false;
    ViewBag.ShowSoundButton = false;
}

<div  class="container text-center  z-120 mt-5 pt-5 display-4">
   <b> Licence is expired</b>
        </div>
</div>

