@page
@model RapGame.Pages.Frame56Model
@inject RapGame.Utils.MediaHelper mediaHelper
@{
    ViewData["Title"] = Model.MediaData.Title;
    ViewBag.ShowMicsCounter = true;
    var soundPath = mediaHelper.GetMediaPath(Model.CurrentPathToAudio);
}
<div class="container-fluid pt-5">
    <div class="row pt-5 align-items-center mt-5">
        <div class="col-xl-8 col-md-7 z-120">
            <div class="row text-center">
                <div class="row animate__animated animate__fadeInUp animate__slow">
                    <div class="row display-2">
                        <b>Which rhyme scheme is being used?</b>
                    </div>

                    <div class="row display-6">
                        <b>Click the correct answer after you have listened to the audio</b>
                    </div>

                    <div class="row" >
                       <div class="col-2 offset-5">
                        <button id="startBtn" value="@Model.CurrentAnswer" class="btn" style="width:300px; height:300px" disabled><img class=" btn"  src="~/img/gameSound.png" onclick="Reproduce(); playaudiogame3('@soundPath');" ></button>
                    </div>
                    </div>
                </div>


                <div class="row text-center pt-5 animate__animated animate__fadeInUp animate__delay-2s">
                    <div class="col-4">
                        <button id="firstbutton" class="btn btn-outline-dark btn-lg  borderblack z-110" name="AAAA" value="AAAA" onclick="Comapare(this.value)" disabled><b class="buttonsize" style="color:#1E8449" >AAAA</b></button>
                    </div>
                    <div class="col-4">
                        <button id="secondbutton" class="btn btn-outline-dark btn-lg borderblack z-110"  name="AABB" value="AABB" onclick="Comapare(this.value)"  disabled><b class="buttonsize" style="color:#1E8449">AA</b><b class="buttonsize" style="color:#8B008B">BB</b></button>
                    </div>
                    <div class="col-4">
                        <button id="thirdbutton" class="btn btn-outline-dark btn-lg borderblack z-110"  name="ABAB" value="ABAB" onclick="Comapare(this.value)"  disabled><b class="buttonsize" style="color:#1E8449">A</b><b class="buttonsize" style="color:#8B008B">B</b><b class="buttonsize" style="color:#1E8449">A</b><b class="buttonsize" style="color:#8B008B">B</b></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-5 animate__animated animate__fadeInUp animate__slow">
            <img class="rounded mx-auto d-block" src="@mediaHelper.GetMediaPath(@Model.MediaData.PathsToImages[0])" />
        </div>
    </div>
</div>


<div class="modal fade" id="ModalReproduce" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: red">
            <div class="modal-body text-center">
                <div class="display-5" style="color: black"><b>You must listen to the audio clip first.</b></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalErrorAnswer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 40rem">
        <div class="modal-content" style="background-color: red">
            <div class="modal-body text-center">
                <div class="display-5" style="color: black"><b>Are you sure? <br>Try again. <br> <i>Hint: listen to the last word of each line.</i></b></div>
            </div>
        </div>
    </div>
</div>